.infinite-load {

  &-filters {
    display: flex;
    justify-content: flex-end;
    align-content: center;

    input[type="search"] {

    }
  }

  &-wrapper {
    gap: 1rem;

    .post-item {
      height: 200px;
      display: flex;
      border: 1px solid ;
      justify-content: center;
      align-items: center;
    }
  }
}
